{%extends 'pass.html'%}
{%load static%}
 {%block link%}
 <link rel="stylesheet" href="{%static 'css/sstyle.css'%}" type="text/css" media="screen" title="no title" charset="utf-8">

{%endblock%}


   {%block conten%}
<form  method="post">
	{% csrf_token %}
			<label for="username">Username</label>
			<input id="username" name="username" type="text">

			<label for="email">email</label>
			<input id="email" name="email" type="text">

			<label for="password">Password</label>
			<input id="password" name="password" type="password">
			<span>Enter a password longer than 8 characters</span>

			<label for="confirm_password">Confirm Password</label>
			<input id="confirm_password" name="confirm_password" type="password">
			<span>Please confirm your password</span>

			<input type="submit" value="SUBMIT" id="submit">

	</form>

        {%endblock%}